*{
    box-sizing: border-box;
    font-family: 'Continuum Light', sans-serif;
    font-weight: bold;
    color: grey;
    font-size: 0.93em;
                                                
}

body{ 
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.general {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.wii{ 
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}



.consolaGeneral{ 
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: red;
}
.consola{ 
height: 77%;
width: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
background-color: aqua;
}

.columnas{
    width: 27%;
    height: 91.30%;
    display: flex;
    flex-direction: row;
    background: rgb(230,233,233);
background: linear-gradient(90deg, rgba(230,233,233,1) 20%, rgba(204,208,213,1) 22%);
}
.columna1{ 
    width: 20%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.columna1Fila1 { 
    width: 100%;
    height: 8.6% ;
}
.columna1Fila2{ 
    width: 100%;
    height: 5% ;
    display: flex;
    flex-direction: row;
    
}
.c1f2Fondo{
    width: 50%;
    height: 100%;
    
}

.c1f2Boton{ 
    width: 50%;
    height: 100%;
    border: grey 1px solid;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
}

.columna1Fila3{ 
    width: 100%;
    height: 6.5%;
}
.columna1Fila4{
    width: 100%;
    height: 5% ;
    display: flex;
    flex-direction: row;
}
.c1f4Fondo{
    width: 50%;
    height: 100%;
    
    
}
.c1f4Boton{
    width: 50%;
    height: 100%;
    border: grey 1px solid;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border-right: none;
}
.columna1Fila5{ 
    width: 100%;
    height: 12.5%;
}

.columna1Fila6{ 
    width: 100%;
    height: 37.5%;
    display: flex;
    flex-direction: row;
}




.c1f6Fondo{
    width: 50%;
    height: 100%;
    
}
.c1f6Boton{ 
    width: 50%;
    height: 100%;
    border: solid grey 1px;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border-right: none;
}
.columna1Fila7{ 
    width: 100%;
    height: 15%;
}

.columna1Fila8{ 
    width: 100%;
    height: 5% ;
    display: flex;
    flex-direction: row;
}
.c1f8Fondo{
    width: 50%;
    height: 100%;
}

.c1f8Boton{ 
    width: 50%;
    height: 100%;
    border: grey 1px solid;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    
}
.columna1Fila9{ 
    width: 100%;
    height: 4.9%;
}
.columna2{
    width: 20%;
    height: 100%;
    
}
.columna2Fila1{
    width: 100%;
    height:8.6% ;
}
.columna2Fila2{
    width: 100%;
    height:5% ;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none; 
    display: flex;
    flex-direction: row; 
}
.greenRed{
height: 100%;
width: 30%;
border-radius: 70%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10%;

}

.led{
    width: 80%;
    height: 30%;
    background-color: red;
    border-radius: 50%;
    margin-left: 10%;
}
.power{
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/powergris.png);
    background-size: contain;
    margin-top: 0.36em;
    margin-left: 0.35em;
    background-repeat: no-repeat;


    
}
.fotoPower {
    height: 50%;
    color: grey;
}
.columna2Fila3{
    width: 100%;
    height:6.5% ;
}
.columna2Fila4{
    width: 100%;
    height: 5%;
    width: 100%;
    height:5% ;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none;
}
.columna2Fila5{
    width: 100%;
    height: 12.5%;
}
.columna2Fila6{
    width: 100%;
    height: 37.5%;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.compuerta{ 
    width: 15%;
    height: 25%;
    border: solid grey 1px;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    box-shadow: inset black 0 0.1em 0.1em 0;
}
.columna2Fila7{
    width: 100%;
    height:15% ;
    display: flex;
    align-items: flex-end;
}
.columna2Fila8{
    width: 100%;
    height: 5%;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none;
    background-image: url(../img/ejectgris.png);
    

}
.columna2Fila9{
    width: 100%;
    height: 0.98%;
}
.columna3{
    width: 20%;
    height: 100%;
    
}
.columna4{
    width: 20%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columna4Fila1{
    width: 100%;
    height: 8.6%;
}

.columna4Fila2{ 
    width: 80%;
    height: 90%;
    background-color: #2c3c63;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;    
    box-shadow: inset #4ae4ff 0 0.1em 0.3em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ranura {
    width: 30% ;
    height: 90%;
    background-color: rgba(27, 26, 26, 0.425);
    border-radius: 50%; 
}

.ranura2{
    width: 90%;
    height: 95%;
    border-radius: 50%;
    box-shadow: rgb(29, 66, 83) 0em 0.1em 0.3em 0.3em ;

}

.columna4Fila3{
    width: 100%;
    height: 4.9%;
}


.columna5{
    width: 20%;
    height: 100%;
    
}

.base{ 
height: 23.34%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: green;
}

.baseGrande{ 
    height: 97%;
    width: 35%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background: rgb(219,220,224);
background: linear-gradient(90deg, rgba(219,220,224,1) 16%, rgba(167,171,180,1) 17%);
}

.basePequenya{
    height: 3%;
    width: 30%;
    background-color: black;
}

.relleno2{
    height: 5%;
    width: 100%;
}