*{
    box-sizing: border-box;
    font-family: 'Continuum Light', sans-serif;
    font-weight: bold;
    color: grey;
    font-size: 0.93em;
    user-select: none ;
                                                
}

body{ 
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

.general {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.wii{ 
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    
}



.consolaGeneral{ 
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.consola{ 
height: 77%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;

}

.columnas{
    width: 27%;
    height: 91.30%;
    display: flex;
    flex-direction: row;
    background: rgb(230,233,233);
    background: linear-gradient(90deg, rgba(230,233,233,1) 20%, rgba(204,208,213,1) 22%);
    box-shadow: 2px 1px 7px 3px black;
}


.columna1{ 
    width: 20%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.columna1Fila1 { 
    width: 100%;
    height: 8.6% ;
}
.columna1Fila2{ 
    width: 100%;
    height: 5% ;
    display: flex;
    flex-direction: row;
    
}
.c1f2Fondo{
    width: 50%;
    height: 100%;
    
}

.c1f2Boton{ 
    width: 50%;
    height: 100%;
    border: grey 1px solid;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
}

.columna1Fila3{ 
    width: 100%;
    height: 6.5%;
}
.columna1Fila4{
    width: 100%;
    height: 5% ;
    display: flex;
    flex-direction: row;
}
.c1f4Fondo{
    width: 50%;
    height: 100%;
    
    
}
.c1f4Boton{
    width: 50%;
    height: 100%;
    border: grey 1px solid;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border-right: none;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
}
.columna1Fila5{ 
    width: 100%;
    height: 12.5%;
}

.columna1Fila6{ 
    width: 100%;
    height: 37.5%;
    display: flex;
    flex-direction: row;
}




.c1f6Fondo{
    width: 50%;
    height: 100%;
    
}
.c1f6Boton{ 
    width: 50%;
    height: 100%;
    border: solid grey 1px;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border-right: none;
}
.columna1Fila7{ 
    width: 100%;
    height: 13%;
}

.columna1Fila8{ 
    width: 100%;
    height: 5% ;
    display: flex;
    flex-direction: row;
}
.c1f8Fondo{
    width: 50%;
    height: 100%;
}

.c1f8Boton{ 
    width: 50%;
    height: 100%;
    border: grey 1px solid;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    -webkit-box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.74);
    
}
.columna1Fila9{ 
    width: 100%;
    height: 4.9%;
}
.columna2{
    width: 20%;
    height: 100%;
    
}
.columna2Fila1{
    width: 100%;
    height:8.6% ;
}
.columna2Fila2{
    width: 100%;
    height:5% ;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none; 
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
}
.greenRed{
height: 100%;
width: 30%;
border-radius: 70%;
display: flex;
justify-content: center;
align-items: center;
margin-left: 10%;

}

.led{
    width: 80%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 10%;
}

.ledON{ 
    width: 80%;
    height: 30%;
    background-color: rgb(72, 255, 0);
    border-radius: 50%;
    margin-left: 10%;
}

.power{
    height: 70%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/powergris.png);
    background-size: contain;
    margin-top: 0.36em;
    margin-left: 0.35em;
    background-repeat: no-repeat;


    
}
.fotoPower {
    height: 50%;
    color: grey;
}
.columna2Fila3{
    width: 100%;
    height:6.5% ;
}
.columna2Fila4{
    width: 100%;
    height: 5%;
    width: 100%;
    height:5% ;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none;
}
.columna2Fila5{
    width: 100%;
    height: 12.5%;
}
.columna2Fila6{
    width: 100%;
    height: 37.5%;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.compuerta{ 
    width: 15%;
    height: 25%;
    border: solid grey 1px;
    border-right: none;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    box-shadow: inset black 0 0.1em 0.1em 0;
}
.columna2Fila7{
    width: 100%;
    height:13% ;
    display: flex;
    align-items: flex-end;
}
.columna2Fila8{
    width: 100%;
    height: 5%;
    border: grey 1px solid;
    border-top-right-radius: 0.2em ;
    border-bottom-right-radius: 0.2em;
    border-left: none;
    background-image: url(../img/ejectB\ \(1\)\ \(1\).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0.7em;
    

}
.columna2Fila9{
    width: 100%;
    height: 0.98%;
}
.columna3{
    width: 20%;
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contenedorLogoWii{ 
    width: 100%;
    height: 4%;
    background-image: url(../img/wiilogo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.columna4{
    width: 20%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.columna4Fila1{
    width: 100%;
    height: 8.6%;
}

.columna4Fila2{ 
    width: 80%;
    height: 83%;
    background-color: #2c3c63;
    -webkit-border-radius: 1000px;
    border-radius: 1000px;    
    box-shadow: inset #4ae4ff 0 0.1em 0.3em 0.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ranura {
    width: 30% ;
    height: 90%;
    background-color: rgba(27, 26, 26, 0.425);
    border-radius: 50%; 
}

.ranura2{
    width: 90%;
    height: 95%;
    border-radius: 50%;
    box-shadow: rgb(29, 66, 83) 0em 0.1em 0.3em 0.3em ;

}

.columna4Fila3{
    width: 100%;
    height: 4.9%;
}


.columna5{
    width: 20%;
    height: 100%;
    
}

.base{ 
height: 23.34%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}

.baseGrande{ 
    height: 97%;
    width: 35%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background: rgb(219,220,224);
    background: linear-gradient(90deg, rgba(219,220,224,1) 16%, rgba(167,171,180,1) 17%);
    box-shadow: 4px 3px 5px 1px black;
}

.basePequenya{
    height: 3%;
    width: 30%;
    background-color: black;
}

.relleno2{
    height: 5%;
    width: 100%;
}

.mando{ 
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.generalMando {
    height: 70%;
    width: 55%;
    background: rgb(207,222,224);
background: linear-gradient(346deg, rgba(207,222,224,1) 46%, rgba(231,234,235,1) 65%);
    border-radius: 1em;
    box-shadow: 3px 4px 5px 2px black;
}

.mandoFila1{ 
    width: 100%;
    height: 7%;

}

.mandoFila1Columna1{ 
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.botonPowerRojo { 
    width: 65%;
    height: 60%;
    margin-bottom: 10%;
    margin-right: 0.4em;
    border-radius: 50%;
    box-shadow: inset 0 0 1px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.botonPowerRojoIcono{ 
    width: 70%;
    height: 70%;
    background-image: url(../img/powerBBB.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.mandoFila2{ 
    width: 100%;
    height: 2%;
    font-size: 40%;
}

.textoMandoFila2{ 
    margin-left: 6%;
    font-weight: bold;
}

.mandoFila3{ 
width: 100%;
height: 15%;
display: flex;
justify-content: center;
align-items: center;
}

.cruceta{ 
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.crucetaFila1 { 
    width: 100%;
    height: 33.33%;
    display: flex;
    flex-direction: row;
}

.crucetaF1C1{
    width: 33.33%;
    height: 100%;
    
}
.crucetaF1C2{
    width: 33.33%;
    height: 100%;
    border-top-right-radius: 0.2em;
    border-top-left-radius: 0.2em;
    border: solid grey 0.1em   ;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0px 0px 0px #000000;

}
.crucetaF1C3{
    width: 33.33%;
    height: 100%;
    
}

.crucetaFila2{ 
    width: 100%;
    height: 33.33%;
    display: flex;
    flex-direction: row;
}
.crucetaF2C1{
    width: 33.33%;
    height: 100%;
    border-top-left-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
    border: solid grey 0.1em;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 0px 0px #000000; 
box-shadow: 0px 2px 0px 0px #000000;
}

.paloVertical{ 
    width: 10%;
    height: 70%;
    background-color: grey;
    border-radius: 1000px;
}

.paloHorizontal{ 
    width: 70%;
    height: 12%;
    background-color: grey;
    border-radius: 1000px;
}
.crucetaF2C2{
    width: 33.33%;
    height: 100%;    
}
.crucetaF2C3{
    width: 33.33%;
    height: 100%;
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border: solid grey 0.1em;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0px 0px #000000;
}

.crucetaFila3{ 
    width: 100%;
    height: 33.33%;
    
    display: flex;
    flex-direction: row;
}

.crucetaF3C1{
    width: 33.33%;
    height: 100%;
    
}
.crucetaF3C2{
    width: 33.33%;
    height: 100%;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border: solid grey 0.1em;
    border-top: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 2px 2px 0px 0px #000000;
     
}
.crucetaF3C3{
    width: 33.33%;
    height: 100%;
    
}
.mandoFila4{ 
    width: 100%;
    height: 20% ;
    
    display: flex;
    justify-content: center;
}
.botonA{ 
    width: 35%;
    height: 40%;
    margin-top: 10%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:large;
    box-shadow: inset 0.1em 0.2em 0.3em 0 black,
    inset -0.12em 0em 0.3em 0.3em white;
    background: linear-gradient(163deg, rgba(2,0,36,1) 0%, rgba(4,4,5,0.773546918767507) 0%, rgba(55,55,56,0) 26%, rgba(77,78,79,0) 46%, rgba(139,141,142,0) 100%);
}

.botonA::after{ 
    width: 0.3em;
    height: 0.3em;
    background-color: red;
    border-radius: 50%;
}

.mandoFila5{ 
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.botonMenos{ 
    width: 15%;
    height: 70%;
    border-radius: 50%;
    background-image: url(../img/menosmenosB.png);
    background-size: cover;
    box-shadow: 1px 1.15px 1px 2px grey;
    background-position-x: 2.15em ;
    
    
}

.botonHome{ 
    width: 15%;
    height: 70%;
    border-radius: 50%;
    background-image: url(../img/homeazulB.png);
    background-size: cover;
    box-shadow: inset 0 0 1px 1px black, 
    0 0 1px 1px grey;
    background-position: 0;
}

.botonMas{
    width: 15%;
    height: 70%;
    
    border-radius: 50%;
    background-image: url(../img/masB.png);
    background-size: cover;
    box-shadow: 1px 1.15px 1px 2px grey;
    background-position: 0;
}

.mandoFila6{
    height: 2% ;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoMandoFila6{ 
    font-size: 60%;
    font-weight: bolder;
}

.mandoFila7 { 
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generalPuntitos{ 
    width: 23%;
    height: 80%;

}

.puntitosFila1{
    width: 100%;
    height: 16.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.puntitosF1Columna1{
    height: 0.2em;
    width: 0.2em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF1Columna2{
    height: 0.2em;
    width: 0.2em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF1Columna3{
    height: 0.2em;
    width: 0.2em;
    background-color: black;
    border-radius: 50%;
}
.puntitosFila2{
    width: 100%;
    height: 16.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
} 

.puntitosF2Columna1{
    height: 0.3em;
    width: 0.3em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF2Columna2{
    height: 0.3em;
    width: 0.3em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF2Columna3{
    height: 0.3em;
    width: 0.3em;
    background-color: black;
    border-radius: 50%;
}
.puntitosFila3{
    width: 100%;
    height: 16.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.puntitosF3Columna1{
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF3Columna2{
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF3Columna3{
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
}
.puntitosFila4{
    width: 100%;
    height: 16.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.puntitosF4Columna1{
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF4Columna2{
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF4Columna3{
    width: 0.5em;
    height: 0.5em;
    background-color: black;
    border-radius: 50%;
}
.puntitosFila5{
    width: 100%;
    height: 16.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.puntitosF5Columna1{
    height: 0.3em;
    width: 0.3em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF5Columna2{
    height: 0.3em;
    width: 0.3em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF5Columna3{
    height: 0.3em;
    width: 0.3em;
    background-color: black;
    border-radius: 50%;
}
.puntitosFila6{
    width: 100%;
    height: 16.66%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

.puntitosF6Columna1{
    height: 0.2em;
    width: 0.2em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF6Columna2{
    height: 0.2em;
    width: 0.2em;
    background-color: black;
    border-radius: 50%;
}
.puntitosF6Columna3{
    height: 0.2em;
    width: 0.2em;
    background-color: black;
    border-radius: 50%;
}

.mandoFila8{ 
    width: 100%;
    height: 17%;
}

.mandoF8F1{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton1{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 1px 1.15px 1px 2px grey;
}
.mandoF8F2{ 
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton2{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 1px 1.15px 1px 2px grey;
}
.mandoFila9{
    width: 100%;
    height: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ;
    align-items: center;
    font-size: large;
}

.braille1 {
    height: 100%;
    width: 15%;
    margin-left: 0.8em;
    margin-top: 0.7em;
}

.b1p1{
    height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;
}

.braille2{
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    margin-top: 0.7em;
    
}

.b2p1{height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;}
.b2p2{height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;}
.braille3{
    height: 100%;
    width: 15%;
    display: flex;
    margin-top: 0.7em;
}

.b3p1{height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;}
.b3p2{height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;}
.b3p3{height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;}
.braille4{
    height: 100%;
    width: 15%;
    margin-right: 0.1em;
    display: flex;
    margin-top: 0.7em;
}

.b4p1{
    height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%; 
}
.b4p2{
    height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;
}
.b4p3{
    height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;
}
.b4p4{
    height: 0.15em;
    width: 0.12em;
    background-color: #808080;
    border-radius: 50%;
}



.mandoFila10 { 
    width: 100%;
    height: 4%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.cuadradoLed1{
    height: 0.7em;
    width: 0.7em;
    background-color: #07a4cc;
    box-shadow:  #3cd8ff 0 0 5px 1px;
}
.cuadradoLed2{
    height: 0.7em;
    width: 0.7em;
    background-color:rgb(71, 65, 65) ;}
.cuadradoLed3{
    height: 0.7em;
    width: 0.7em;
    background-color:rgb(71, 65, 65) ;}
.cuadradoLed4{
    height: 0.7em;
    width: 0.7em;
    background-color:rgb(71, 65, 65) ;
}

.mandoFila11{ 
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoWiiMando{
    width: 30%;
    height: 100%;
    background-image: url(../img/wiilogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.down:active {
    transform: scale(0.9);

}


.juegos{ 
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tele { 
    width: 60%;
    height: 40%;
    

}

.teleOn{
    width: 60%;
    height: 40%;
    background-video: url(https://www.youtube.com/watch?v=crQeb1pm2IA);
}